<h1>Dashboard</h1>

<div class="row">
    <div class="column">
        <div class="card">
            <h2>Student's Request : 0</h2>
            <button class="b"  (click)="movetor()">Check</button>
        </div>
    </div>

    <div class="column">
        <div class="card1">
            <h2>Faculty's Request : 0</h2>
            <button class="b">Check</button>
        </div>
    </div>

    <div class="column">
        <div class="card2">
            <h2>Our Recruiters : 0</h2>
            <button class="b">Check</button>
        </div>
    </div>
</div>