<link href="'https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar [style.height]="'80px'" class="mat-elevation-z3">
    <mat-icon  (click)="sidenav.toggle();">menu</mat-icon>
   <h1 class="ab"> Wingman Admin</h1>
   <span class="spacer"></span>
    <button mat-button class="logout" (click)="logout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container >
    <mat-sidenav opened mode='side' [style.width]="'250px'" #sidenav>
        <app-custom-sidenav></app-custom-sidenav>
    </mat-sidenav>
<mat-sidenav-content class="content">
    <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
 